In [5]:
import numpy as np
import pandas as pd

In [12]:
df = pd.read_csv('spam.csv', encoding="ISO-8859-1")
df.sample(5)

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
5518,ham,"By the way, i've put a skip right outside the ...",NaN,NaN,NaN
2041,ham,ÌÏ dun wan to watch infernal affair?,NaN,NaN,NaN
1805,ham,God bless.get good sleep my dear...i will pray!,NaN,NaN,NaN
455,ham,Si si. I think ill go make those oreo truffles.,NaN,NaN,NaN
1833,ham,When should I come over?,NaN,NaN,NaN